# Virtual Environment
.venv/
venv/
env/

# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
__pycache__/
*.pyc
.idea/
.env

# OS
.DS_Store
Thumbs.db